In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
# importing file

train=pd.read_csv('train.csv')

In [3]:
#check

train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# nr rows

train.index

RangeIndex(start=0, stop=1460, step=1)

In [5]:
#columns

train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
#nr columns

train.columns.value_counts()

EnclosedPorch    1
GrLivArea        1
FullBath         1
TotRmsAbvGrd     1
WoodDeckSF       1
                ..
BldgType         1
LandContour      1
RoofStyle        1
YearBuilt        1
LotFrontage      1
Length: 81, dtype: int64

In [7]:
#check nulls

null_columns=train.isnull().sum()
null_columns.sort_values(ascending=False)

PoolQC           1453
MiscFeature      1406
Alley            1369
Fence            1179
FireplaceQu       690
                 ...
CentralAir          0
SaleCondition       0
Heating             0
TotalBsmtSF         0
Id                  0
Length: 81, dtype: int64

In [8]:
#drop nulls

drop_cols = list(null_columns[null_columns > 1000].index)
train = train.drop(drop_cols, axis=1)

train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [9]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [10]:
notrelevant=['MSSubClass', 'MSZoning', 'LotFrontage','LotConfig','Condition1','Condition2', 'LotShape', 'LandContour', 'Utilities', 'LandSlope', 'BldgType', 'RoofMatl', 'Exterior1st', 'Exterior2nd','MasVnrType', 'MasVnrArea','ExterQual','BsmtQual','BsmtExposure','BsmtFinType1','BsmtFinType2', 'BsmtFinSF1', 'BsmtFinType2','BsmtFinSF2', 'BsmtUnfSF','Heating', 'HeatingQC','SaleType','CentralAir','BsmtFullBath', 'BsmtHalfBath','Electrical','LowQualFinSF','Functional','FireplaceQu','GarageType','GarageFinish', 'GarageCars', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch','ScreenPorch']

In [11]:
train = train.drop(notrelevant, axis=1)
train.head()

,Id,LotArea,Street,Neighborhood,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,...,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageArea,PoolArea,MiscVal,MoSold,YrSold,SaleCondition,SalePrice
0,1,8450,Pave,CollgCr,2Story,7,5,2003,2003,Gable,...,8,0,2003.0,548,0,0,2,2008,Normal,208500
1,2,9600,Pave,Veenker,1Story,6,8,1976,1976,Gable,...,6,1,1976.0,460,0,0,5,2007,Normal,181500
2,3,11250,Pave,CollgCr,2Story,7,5,2001,2002,Gable,...,6,1,2001.0,608,0,0,9,2008,Normal,223500
3,4,9550,Pave,Crawfor,2Story,7,5,1915,1970,Gable,...,7,1,1998.0,642,0,0,2,2006,Abnorml,140000
4,5,14260,Pave,NoRidge,2Story,8,5,2000,2000,Gable,...,9,1,2000.0,836,0,0,12,2008,Normal,250000

In [12]:
train.columns

Index(['Id', 'LotArea', 'Street', 'Neighborhood', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'ExterCond',
       'Foundation', 'BsmtCond', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt',
       'GarageArea', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [13]:
#copy

house=train.copy()

house.dtypes

Id                 int64
LotArea            int64
Street            object
Neighborhood      object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
ExterCond         object
Foundation        object
BsmtCond          object
TotalBsmtSF        int64
1stFlrSF           int64
2ndFlrSF           int64
GrLivArea          int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Fireplaces         int64
GarageYrBlt      float64
GarageArea         int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SaleCondition     object
SalePrice          int64
dtype: object

In [14]:
#new colums time

house=house.assign(time_sold_from_contruction = house['YrSold']-house['YearBuilt'])

house=house.assign(time_sold_from_renovation = house['YrSold']-house['YearRemodAdd'])

house.head()

,Id,LotArea,Street,Neighborhood,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,...,GarageYrBlt,GarageArea,PoolArea,MiscVal,MoSold,YrSold,SaleCondition,SalePrice,time_sold_from_contruction,time_sold_from_renovation
0,1,8450,Pave,CollgCr,2Story,7,5,2003,2003,Gable,...,2003.0,548,0,0,2,2008,Normal,208500,5,5
1,2,9600,Pave,Veenker,1Story,6,8,1976,1976,Gable,...,1976.0,460,0,0,5,2007,Normal,181500,31,31
2,3,11250,Pave,CollgCr,2Story,7,5,2001,2002,Gable,...,2001.0,608,0,0,9,2008,Normal,223500,7,6
3,4,9550,Pave,Crawfor,2Story,7,5,1915,1970,Gable,...,1998.0,642,0,0,2,2006,Abnorml,140000,91,36
4,5,14260,Pave,NoRidge,2Story,8,5,2000,2000,Gable,...,2000.0,836,0,0,12,2008,Normal,250000,8,8

In [15]:
#putting number of bathrooms all together

house=house.assign(total_bathrooms_above_gl = house['FullBath']+house['HalfBath'])

house.columns

Index(['Id', 'LotArea', 'Street', 'Neighborhood', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'ExterCond',
       'Foundation', 'BsmtCond', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt',
       'GarageArea', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold',
       'SaleCondition', 'SalePrice', 'time_sold_from_contruction',
       'time_sold_from_renovation', 'total_bathrooms_above_gl'],
      dtype='object')

In [16]:
#drop remaining bathrooms

bathdrop=['FullBath', 'HalfBath']
house = house.drop(bathdrop, axis=1)

In [17]:
house.head()

,Id,LotArea,Street,Neighborhood,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,...,GarageArea,PoolArea,MiscVal,MoSold,YrSold,SaleCondition,SalePrice,time_sold_from_contruction,time_sold_from_renovation,total_bathrooms_above_gl
0,1,8450,Pave,CollgCr,2Story,7,5,2003,2003,Gable,...,548,0,0,2,2008,Normal,208500,5,5,3
1,2,9600,Pave,Veenker,1Story,6,8,1976,1976,Gable,...,460,0,0,5,2007,Normal,181500,31,31,2
2,3,11250,Pave,CollgCr,2Story,7,5,2001,2002,Gable,...,608,0,0,9,2008,Normal,223500,7,6,3
3,4,9550,Pave,Crawfor,2Story,7,5,1915,1970,Gable,...,642,0,0,2,2006,Abnorml,140000,91,36,1
4,5,14260,Pave,NoRidge,2Story,8,5,2000,2000,Gable,...,836,0,0,12,2008,Normal,250000,8,8,3

In [18]:
house.columns

Index(['Id', 'LotArea', 'Street', 'Neighborhood', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'ExterCond',
       'Foundation', 'BsmtCond', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageArea', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SaleCondition', 'SalePrice',
       'time_sold_from_contruction', 'time_sold_from_renovation',
       'total_bathrooms_above_gl'],
      dtype='object')

In [23]:
#grouping by neighbourhood and price

hood = house.groupby(['Neighborhood'], as_index = False).agg({ 'SalePrice': 'mean'})

hood.sort_values(by='SalePrice', ascending = False)

   Neighborhood      SalePrice
15      NoRidge  335295.317073
16      NridgHt  316270.623377
22      StoneBr  310499.000000
23       Timber  242247.447368
24      Veenker  238772.727273
21      Somerst  225379.837209
4       ClearCr  212565.428571
6       Crawfor  210624.725490
5       CollgCr  197965.773333
0       Blmngtn  194870.882353
8       Gilbert  192854.506329
14       NWAmes  189050.068493
20      SawyerW  186555.796610
11      Mitchel  156270.122449
12        NAmes  145847.080000
13      NPkVill  142694.444444
18        SWISU  142591.360000
1       Blueste  137500.000000
19       Sawyer  136793.135135
17      OldTown  128225.300885
7       Edwards  128219.700000
3       BrkSide  124834.051724
2        BrDale  104493.750000
9        IDOTRR  100123.783784
10      MeadowV   98576.470588